

*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    box-sizing: border-box;
}

.header{
    height: 90px;
    width: 100%;
    padding: 0 8%;
    position: relative;
    

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.logo{
    width: 45px;
}

.nav-textos{
    padding: 28px 0;
}

.nav-textos li{
    display: inline-block;
    margin: 0 15px;
}
.nav-textos li a{
    text-decoration: none;
    color: black;
    padding: 5px 0;
}

.search{
    width: 560px;
    height: 50px;
    border-radius: 10px;
    background-color: #686868;
    display: flex;
    align-items: center;
    padding: 8px;
    box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.39);;
}

.Pesquisar{
    color:#DDDDDD;
    font-weight: 400;
    font-size: 20px;
}

.lupa{
    height: 38px;
    width: auto;
}
.line{
    width: 100%;
}

.text__header{
    font-weight: 460;   

}

.logo__site{
    display: flex;
    align-items: center;    
}

.texto__logo{
    margin-top: 8px;   
    font-weight: 500;
}

.create__note{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    background-color: #686868;
    display: flex;
    align-items: center;
    padding: 8px;
    grid-row-start: 4;
    grid-column-start: 6;
    box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.39);;
    

}

main{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    
}
.maizinho{
    color:#DDDDDD;
    font-weight: 400;
    margin-left: 4px;
    font-size: 26px;
}

.criar__nota{
    color:#DDDDDD;
    font-weight: 400;
    font-size: 20px;
    margin-left: 16px;
}