<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Inter&family=Oswald:wght@300&family=Poppins:wght@500&family=Roboto+Condensed&display=swap" rel="stylesheet">

    <title>Notify</title>
</head>
<body>
    <div class="header">       
        
        <nav>
            <ul class="logo__site">
                <img src="../../../assets/images/description.png" alt="" class="logo">
                
                <h1 class="texto__logo">Notify</h1>
            </ul>
        
            
            
            <div class="search">
                <img src="../../../assets/images/search.png" alt="" class="lupa">
                <h1 class="Pesquisar">Pesquisar</h1>
            </div>
            
            <ul class="nav-textos">
                <li><a class="text__header" href="">Home</a></li>
                <li><a class="text__header" href="">Cadastre-se/Login</a></li>                
                <li><a class="text__header" href="">Ajuda</a></li>
            </ul>
        </nav>
        <hr class="line">
    </div>
    <main>
        <div class="create__note">
            <h1 class="maizinho">+</h1>
            <h1 class="criar__nota">Criar uma nota...</h1>
        </div>
    </main>
    
</body>
</html>